name: docs

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
  pull_request:
    paths:
      - 'docs/**'

defaults:
  run:
    shell: bash -l {0}


jobs:

  build_pyjs_docs:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environments/environment-docs.yml
          environment-name: pyjs-docs

      - name: Create build directory for docs
        run: mkdir docs_build

      - name: Convert *.py and *.js to *.ipynb using jupytext
        run: |
          mkdir -p docs_build/notebooks

          for f in examples/*.py; do
              #  get the filename without the extension and path
              filename=$(basename -- "$f")
              jupytext $f --to ipynb  --output docs_build/notebooks/${filename%.*}.ipynb \
                --update-metadata '{"kernelspec": {"name": "xpython"}}'
          done
          for f in examples/*.js; do
              #  get the filename without the extension and path
              filename=$(basename -- "$f")
              jupytext $f --to ipynb  --output docs_build/notebooks/${filename%.*}.ipynb \
                --update-metadata '{"kernelspec": {"name": "xjavascript"}}'
          done

      - name: Create WASM environment for docs
        run: |
          micromamba create -n pyjs-docs-wasm \
            --platform=emscripten-wasm32 \
            -f environments/environment-docs-wasm.yml \
            --yes

      - name: Build the docs
        run: |
          mkdir docs_build/mkdocs
          export PYTHONPATH=$PYTHONPATH:$(pwd)/stubs:$(pwd)/module
          mkdocs build --site-dir=docs_build/mkdocs

      - name: Build JupyterLite
        run: |
          jupyter lite build \
            --contents=docs_build/notebooks \
            --output-dir docs_build/mkdocs/lite \
            --XeusAddon.default_channels=["https://repo.prefix.dev/emscripten-forge-4x", conda-forge] \
            --XeusAddon.prefix=$MAMBA_ROOT_PREFIX/envs/pyjs-docs-wasm

      - name: Copy pyjs binary
        run: |
          ls -al $MAMBA_ROOT_PREFIX/envs/pyjs-docs-wasm/
          cp -v $MAMBA_ROOT_PREFIX/envs/pyjs-docs-wasm/lib_js/pyjs/* \
            docs_build/mkdocs/lite/xeus/bin/

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs_build/mkdocs


  deploy:
    # only run on main branch
    if: github.ref == 'refs/heads/main' && github.repository == 'emscripten-forge/pyjs'

    # Add a dependency to the build job
    needs: build_pyjs_docs

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      contents: read   # to read the Pages artifact
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 # or specific "vX.X.X" version tag for this action
