name: docs

on:
  workflow_dispatch:
  push:
  pull_request:


defaults:
  run:
    shell: bash -l {0}


jobs:

  build_pyjs_docs:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        emsdk_ver: ["3.1.45"]

    steps:
      - uses: actions/checkout@v2

      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v1

      - name: Install micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment-dev.yml
          environment-name: pyjs-wasm 
          condarc: |
            channels:
              - https://repo.mamba.pm/emscripten-forge 
              - conda-forge
      
      - name: install emscripten
        shell: bash -el {0}
        run: |
          micromamba install \
            -c https://repo.mamba.pm/emscripten-forge \
            --yes \
            emscripten_emscripten-wasm32==${{ matrix.emsdk_ver }}
  
      - name: build the docs
        shell: bash -el {0}
        run: |
          ./build_mkdocs.sh
  
      ################################################################
      # upload to github pages
      ################################################################
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: docs_build/mkdocs


  deploy:
    # only run on main branch
    if: github.ref == 'refs/heads/main' && github.repository == 'emscripten-forge/pyjs'

    # Add a dependency to the build job
    needs: build_pyjs_docs

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      contents: read   # to read the Pages artifact
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v3 # or specific "vX.X.X" version tag for this action
